html，body {
  background-color:lightyellow 
  ;
}

h1 {
 color: red;
 text-align:center;
 border:2px solid black;
}

h2 {background-color:WhiteSmoke;
  color: orange
}
h3{
  color:lightblue;
 }

.center{
  display:block;
  margin-left:auto
  margin-right:auto
  width:50%
}
#first{
  width：50%;
  display:block;
  mangin:0 auto;
}
